<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218108891699-ncp4r3asgmdq5qe5j82obh8vioc36ghh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218108891699-ncp4r3asgmdq5qe5j82obh8vioc36ghh</string>
	<key>API_KEY</key>
	<string>AIzaSyD8bxQg9kofpbyjtGL0pcS9o-3ze9Xhqwo</string>
	<key>GCM_SENDER_ID</key>
	<string>218108891699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vk1ng.odibook</string>
	<key>PROJECT_ID</key>
	<string>odibook-cb828</string>
	<key>STORAGE_BUCKET</key>
	<string>odibook-cb828.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218108891699:ios:01741f350b11d6a9850946</string>
	<key>DATABASE_URL</key>
	<string>https://odibook-cb828.firebaseio.com</string>
</dict>
</plist>